#controls{
  width: 30px;
  border: solid 1px #D3D3D3;
  position: relative;
}

#artboard{
  width: 200px;
  height: 200px;
  border: solid 1px #D3D3D3;
  position: absolute;
  top: 10px;
  left: 300px;
}

.row{
  width: 1000px;
  height: 20px;
}

.square{
  width: 20px;
  height: 20px;
  margin: 0px;
  outline: 1px solid #a19c9c;
  display: inline-block;
  background: #FFFFFF;
}

.picker_square{
  width: 20px;
  height: 20px;
  margin: 0px;
  outline: 1px solid #D3D3D3;
  display: inline-block;
  background: #FFFFFF;
}

.button_clear{
  background-color: #D3D3D3;
  height: 20px;
  width: 60px;
}
